version=0.27.0

profile=janestreet
break-struct=force
break-fun-decl=fit-or-vertical
break-fun-sig=fit-or-vertical
break-infix=wrap-or-vertical
break-separators=after
cases-exp-indent=2
doc-comments-padding=2
doc-comments=before
dock-collection-brackets=false
extension-indent=2
field-space=loose
function-indent-nested=always
function-indent=2
if-then-else=fit-or-vertical
indicate-multiline-delimiters=no
indicate-nested-or-patterns=unsafe-no
infix-precedence=parens
leading-nested-match-parens=true
let-binding-deindent-fun=false
let-binding-indent=2 
let-binding-spacing=sparse
match-indent=2 
module-item-spacing=preserve
nested-match=align
ocp-indent-compat=false
parens-ite=false
sequence-style=terminator
space-around-arrays=true
stritem-extension-indent=2
type-decl=sparse
type-decl-indent=2
wrap-comments=true
